<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">All The Secrets!</h1>
    <%secretsArray.forEach(secret =>{ %>
      <p class="secret-text"><%=secret%></p>
      <hr>

  <%  })%>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    <a class="btn btn-secondary btn-lg" href="/profile" role="button">My Secrets</a>
  </div>
</div>

<%- include('partials/footer') %>
